<footer class="site-footer">

    <a href="#top" class="smoothscroll scroll-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
          </svg>
    </a>

    <div class="container">

        <div class="row">

            <div class="col-6 col-md-5 mb-6 mb-md-0">
                <h3>Details</h3>
                For any suggestions/queries please contact us through following details: <br> Address: A-4, Paschim Vihar, New Delhi 110063 <br> Contact No.: 011-25278444/25278443 <br> Email ID: xyzjobs.edu
            </div>


            <div class="col-6 col-md-4 mb-5 mb-md-0">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="http://nptel.ac.in/">NPTEL</a></li>
                    <li><a href="https://www.aicte-india.org/">AICTE</a></li>
                    <li><a href="http://mhrd.gov.in/">MHRD</a></li>
                    <li><a href="https://www.ugc.ac.in/">UGC</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-2 mb-md-0">
                <h3>Other Links</h3>
                <ul>
                    <li><a href="http://nptel.ac.in/">NPTEL</a></li>
                    <li><a href="https://www.aicte-india.org/">AICTE</a></li>
                    <li><a href="http://mhrd.gov.in/">MHRD</a></li>
                    <li><a href="https://www.ugc.ac.in/">UGC</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>