<footer class="site-footer">

    <div class="container">

        <div class="row">

            <div class="col-6 col-md-5 mb-6 mb-md-0">
                <h3>Details</h3>
                For any suggestions/queries please contact us through following details:  <br> Contact No.: 0120-687903/778965 <br> Email ID: abc@uni.edu
            </div>


            <div class="col-6 col-md-4 mb-5 mb-md-0">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="http://nptel.ac.in/">NPTEL</a></li>
                    <li><a href="https://www.aicte-india.org/">AICTE</a></li>
                    <li><a href="http://mhrd.gov.in/">MHRD</a></li>
                    <li><a href="https://www.ugc.ac.in/">UGC</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-2 mb-md-0">
                <h3>Other Links</h3>
                <ul>
                    <li><a href="http://nptel.ac.in/">NPTEL</a></li>
                    <li><a href="https://www.aicte-india.org/">AICTE</a></li>
                    <li><a href="http://mhrd.gov.in/">MHRD</a></li>
                    <li><a href="https://www.ugc.ac.in/">UGC</a></li>
                </ul>
            </div>

        </div>
        <div class = "col-6 pl-6 ml-6">
            <div class = "row">
                <a href="#top" class="smoothscroll scroll-top">
                <i class="bi bi-arrow-up-circle-fill" style="height:40px;width:40px;"></i></a>
            </div>
        </div>
    </div>
</footer>